*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background: #eee;
}

.hidden {
  display: none;
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px 0 0;
}

.container-fluid {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

hr.mb-2 {
  width: 100%;
}

.options {
  margin: 10px 0;
}

#lt,
#rt {
  display: block;
  min-height: 340px;
  width: 100%;
}

.textarea-label {
  background: #ecebeb;
  border-bottom: 1px solid #ccc;
  color: #585858;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
}

.warning-container {
  margin: 0 auto 20px;
  padding: 0.5em 0;
  text-align: center;
}

img {
  display: flex;
  margin: 0 auto;
}

.items-container,
.button-container {
  display: flex;
}

.button-container button {
  background: #295;
  border: 1px solid #1d8449;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  min-width: 20%;
  padding: 10px;
}

input:focus,
button:focus,
textarea:focus,
summary:focus,
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
  outline: none;
}

button:focus {
  outline: none;
}

.button-container button:hover {
  background: #16683a;
  cursor: pointer;
}

button.reset-area {
  background: #f8f8f8;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  min-height: 20px;
  min-width: 60px;
  opacity: 0.6;
  padding: 4px 0;
  text-transform: uppercase;
}

button.reset-area:hover {
  opacity: 1;
}

.areas-container .form-group {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0;
  position: relative;
}

.areas-container {
  margin-bottom: 1em;
}

.ace_content.drag-hover {
  background: url("../images/drag.png") no-repeat no-repeat 50% 50%;
  background-color: #f8f8f8;
  background-size: 150px;
}

.progress-container {
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  padding: 10px 10px 5px;
  position: fixed;
  right: 0;
  width: 250px;
}

progress {
  background: #f3f3f3;
  border: 0;
  border-radius: 5px;
  height: 18px;
  width: 180px;
}

progress::-webkit-progress-bar {
  background: #f3f3f3;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #219a56 100%);
  background: linear-gradient(to bottom, #cdeb8e 0%, #219a56 100%);
  border-radius: 5px;
}

.progress-value {
  color: #555;
  float: right;
  font-size: 0.8em;
  height: 18px;
  line-height: 18px;
  margin-left: 0;
}

.progress-message {
  color: #555;
  display: block;
  font-size: 0.8em;
  padding: 0 0 10px;
  text-align: center;
}

table.diff td.delete {
  background: #ffeef0;
  width: 50%;
}

table.diff td.insert {
  background: #e6ffed;
  width: 50%;
}

table.diff td.equal {
  background: #fff;
  width: 50%;
}

table.diff.inlinediff td.delete,
table.diff.inlinediff td.equal,
table.diff.inlinediff td.insert {
  width: 100%;
}

table.diff {
  border: 1px solid #a9a9a9;
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 96%;
  min-width: 96%;
  table-layout: fixed;
  white-space: pre-wrap;
}

table.diff tbody {
  font-family: Consolas, Courier, monospace;
}

table.diff tbody th {
  background: #ddd;
  border: 0 solid #bbc;
  color: #886;
  font-family: Consolas, verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
  padding: 0.3em 0.6em;
  text-align: right;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
}

table.diff thead {
  background: #efefef;
  border-bottom: 1px solid #bbc;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}

table.diff thead th {
  background-color: gray;
}

table.diff thead th.texttitle {
  color: #fff;
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
}

table.diff tbody td {
  font-size: 0.8em;
  padding: 0.15em 0.4em 0;
  vertical-align: top;
  word-break: break-all;
}

table.diff td.empty {
  background: #ddd;
  width: 50%;
}

table.diff td.replace {
  background: #ffecbd;
  width: 50%;
}

table.diff td.skip {
  background: #efefef;
  border: 1px solid #aaa;
  border-right: 1px solid #bbc;
  width: 50%;
}

table.diff th.empty {
  background: #ddd;
}

table.diff th.replace {
  background: #ffe29b;
}

table.diff th.delete {
  background: #fbced3;
  border-color: #fdaeb7;
}

table.diff th.skip {
  background: #efefef;
}

table.diff th.insert {
  background: #b7f7c6;
  border-color: #bef5cb;
}

table.diff th.equal {
  background: #fff;
}

/* Footer */
footer {
  display: flex;
  padding-bottom: 0.65rem;
  flex-direction: row;
  text-transform: uppercase;
  text-align: center;
  justify-content: space-between;
}

footer .icon {
  width: 24px;
  height: 24px;
}

footer > div {
  align-self: center;
}

.git-button,
.about-link {
  width: 15%;
}

.about-link {
  text-align: left;
}

.git-button {
  text-align: right;
}

.git-button::before,
.about-link::before {
  margin-right: 5px;
  font-size: 22px;
}

.git-button span,
.about-link span {
  color: #2c3e50;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

.git-button span:hover,
.about-link span:hover {
  color: #000;
}

.author-wrapper {
  width: 70%;
  text-align: center;
  font-size: 22px;
}

.author-wrapper .icon {
  cursor: help;
  height: 28px;
  width: 32px;
}

.dark-mode__wrapper {
  align-items: center;
  background-color: #3a3b3d;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: space-between;
  margin: 0 auto 10px;
  padding: 0 6px;
  position: relative;
  width: 50px;
}

.dark-mode__wrapper svg {
  height: 16px;
  width: 16px;
}

.dark-mode__toggle {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  left: 3px;
  position: absolute;
  transition: all 0.5s ease;
  width: 20px;
}

.dark-mode__toggle-on {
  left: 100%;
  transform: translateX(calc(-100% - 3px));
}
